<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ table.capitalize() }} Table (Filtered)</title>
</head>
<body>
    <h1>{{ table.capitalize() }} Table (Filtered)</h1>
    <!-- Добавляем поисковую строку (если нужно) -->
    <form action="{{ url_for('filtered_table', table=table) }}" method="post">
        <label for="search">Search:</label>
        <input  type="text" name="search" id="search" placeholder="Enter search term" value="{{ search_term }}" required>
        <button type="submit">Search</button>
    </form>

    <!-- Добавляем таблицу с отфильтрованными данными -->
    <table border="1">
        <thead>
            <tr>
                {% for column in data[0].__table__.columns %}
                    <th>{{ column.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    {% for column in data[0].__table__.columns %}
                        <td>{{ getattr(item, column.name, '') }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
