<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | Dan Aleko</title>
  <link rel="stylesheet" href="./style/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="background-image: url(https://i.ibb.co/qCkd9jS/img1.jpg);">
    <div class="wrapper">
        <form id="signupForm" method="POST" action="{{ url_for('add_row_1') }}">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" name="user_name" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <!-- I have to  add function to generate it auto not as input -->
                <input type="text" placeholder="user_id" name="user_id" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="name" name="name" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="password" name="password" >
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn">signup</button>
            <div class="register-link">
                <p>Do you have an account? <a href="login.php">login</a></p>
            </div>
        </form>
    </div>
</body>

</html>