<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar with Search Box | CodingStella</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/static/styles.css"/>
    <!-- Unicons CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
   <script src="script.js" defer></script>
  </head>
  <body>
    <nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <a href="#" class="logo">{{current_user}}</a>

      <!-- <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Drivers</a></li>
        <li><a href="#">Transport</a></li>
        <li><a href="#">orders</a></li>
        <li><a href="#">cargo</a></li>
        <li><a href="#">Routes</a></li>
      </ul> -->

      <form method="post" action="{{ url_for('show_table') }}">
        <button type="submit" name="table" value="clients">Clients</button>
        <button type="submit" name="table" value="drivers">Drivers</button>
        <button type="submit" name="table" value="transport">Transport</button>
        <button type="submit" name="table" value="orders">Orders</button>
        <button type="submit" name="table" value="cargo">Cargo</button>
        <button type="submit" name="table" value="routes">Routes</button>
      </form>
      
      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search here..." />
      </div>
    </nav>
  </body>
</html>
 <style>

 </style>
 <script>
    const nav = document.querySelector(".nav"),
  searchIcon = document.querySelector("#searchIcon"),
  navOpenBtn = document.querySelector(".navOpenBtn"),
  navCloseBtn = document.querySelector(".navCloseBtn");

searchIcon.addEventListener("click", () => {
  nav.classList.toggle("openSearch");
  nav.classList.remove("openNav");
  if (nav.classList.contains("openSearch")) {
    return searchIcon.classList.replace("uil-search", "uil-times");
  }
  searchIcon.classList.replace("uil-times", "uil-search");
});

navOpenBtn.addEventListener("click", () => {
  nav.classList.add("openNav");
  nav.classList.remove("openSearch");
  searchIcon.classList.replace("uil-times", "uil-search");
});
navCloseBtn.addEventListener("click", () => {
  nav.classList.remove("openNav");
});
// static/scripts.js

document.addEventListener("DOMContentLoaded", function() {
    // Обработчик события DOMContentLoaded гарантирует, что скрипт выполнится после загрузки всего DOM

    // Получаем все строки таблицы и добавляем им обработчики событий
    var tableRows = document.querySelectorAll("table tbody tr");

    tableRows.forEach(function(row) {
        row.addEventListener("mouseover", function() {
            // Подсвечиваем строку при наведении курсора мыши
            this.style.backgroundColor = "#f0f0f0";
        });

        row.addEventListener("mouseout", function() {
            // Восстанавливаем цвет после ухода курсора мыши
            this.style.backgroundColor = "#f090f7";
        });
    });
});
 </script>