<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            
        }

        h1 {
            margin-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 5px;
            cursor: pointer;
        }
        
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Company Tables</title>
</head>
<body>
    <h1>Choose a Table:</h1>
    <form method="post" action="{{ url_for('show_table') }}">
        <button type="submit" name="table" value="clients">Clients</button>
        <button type="submit" name="table" value="drivers">Drivers</button>
        <button type="submit" name="table" value="transport">Transport</button>
        <button type="submit" name="table" value="orders">Orders</button>
        <button type="submit" name="table" value="cargo">Cargo</button>
        <button type="submit" name="table" value="routes">Routes</button>
    </form>
</body>
</html>